@charset "UTF-8";
/**
  * Patrón 7-1
  *
  * Esta es la estructura del patrón 7-1 utilizado en DesafíoLatam
  * para la enseñanza del uso correcto de patrones dentro de CSS y
  * también para la utilización de éste dentro de estructuras de 
  * trabajo colaborativo.
  *
  * @author Cristóbal Domínguez <cristobald@me.com>
  * @since 1.0
  *
  */
/*
 *
 * La carpeta abstracts/ reune todas las herramientas de SASS para el proyecto.
 * Cada variable global, función, mixin o placeholder debería estar aquí dentro.
 * 
 * La regla de oro para esta carpeta es que no deberá imprimir ni una sola línea
 * de código en el momento de la compilación del CSS. Nada como los helpers de Sass.
 * 
 * Cuando se trabaja en un proyecto muy grande con muchos archivos abstracts, podría
 * ser más interesante agruparlos por tópicos en vez de por tipo. Un ejemplo sería
 * crear las instancias typography (_typography.scss), theming (_theming.scss), etc.
 * Cada archivo contendría todos los helpers relacionados a esa instancia: variables, 
 * functions, mixins y placeholders. Hacerlo así podría hacer el código más sencillo de 
 * de mantener, especialmente cuando los archivos empiezan a crecer mucho.
 * 
 * Nota:
 * La carpeta abstracts/ podría llamarse utilities/ o helpers/, dependiendo de lo que
 * se prefiera.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
/*
 *
 * Este archivo contiene las referencias del código boilerplate de tu proyecto.
 * Aquí podrás encontrar referencias al archivo _reset.scss, a las tipografías
 * y probablemente algún otro archivo de estilos que defina de una forma estándard
 * los estilos de elementos usados en HTML.
 *
 *
 * Nota: 
 * Si tu proyecto usa muchas animaciones, deberías considerar agregar dentro de
 * esta carpeta un archivo /_animations.scss que contenga las definiciones de los
 * @keyframes de todas tus animaciones.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#h-section-svg, .image-animation {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 2.8125em;
}

h3, h4 {
  font-size: 2.5em;
}

.image-animation {
  animation-name: opacity;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
 *
 * Esta carpeta contiene todo lo que hace relación con el sitio web o la aplicación.
 * Aquí encontrarás los estilos para las partes principales del sitio (header, footer, 
 * navigation, sidebar, etc), el sistema de grillas o incluso los estilos de los formularios
 *
 *
 * Nota:
 * La carpeta layout/ también podría ser llamada partials/, dependiendo de la 
 * preferencia del desarrollador.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
.navigation {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 2;
}
.navigation__d-flex {
  display: flex;
  justify-content: space-between;
}
.navigation__logo {
  position: absolute;
  padding: 2em 1em 2em 0;
}
.navigation__collapsible {
  text-align: right;
  padding: 2em 0;
  width: 100%;
}
.navigation__collapsible label {
  font-size: 1.8rem;
}
.navigation #menu {
  display: none;
}
.navigation input:checked ~ .navigation__container {
  max-height: 100%;
}
.navigation__container {
  max-height: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  background-color: white;
  z-index: 2;
}
.navigation__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation__item {
  padding: 0.5em 0;
  border-bottom: solid 1px #8f9199;
  width: 100%;
  text-align: center;
}
.navigation__link {
  color: #221d23;
}
.navigation__buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
.navigation__buttons a {
  margin: 0.5em 0;
}

@media only screen and (min-width: 730px) {
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  .navigation__logo {
    position: static;
    padding: 2em 1em 2em 0;
  }
  .navigation__collapsible {
    width: 100%;
    clear: right;
    padding: 0;
  }
  .navigation__collapsible label {
    display: none;
  }
  .navigation__container {
    max-height: 100%;
    padding: 2em;
    overflow: visible;
    display: flex;
    flex-direction: row;
  }
  .navigation__container {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
  }
  .navigation__items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navigation__item {
    padding: 0;
    padding-right: 1em;
    border: none;
    width: initial;
    text-align: left;
  }
  .navigation__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navigation__buttons a {
    margin: 0;
    margin-left: 1em;
  }
}
.container {
  width: 80%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 109px;
}
@media screen and (min-width: 791px) {
  .grid-container {
    grid-template-rows: 1.4fr 1fr 1fr 109px;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 70px;
  margin-top: 3em;
}
@media screen and (min-width: 791px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

.f-section__container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (min-width: 791px) {
  .f-section__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

.h-section {
  margin: 3em 0;
  padding-top: 8em;
  position: relative;
  background-color: transparent;
  z-index: -1;
}
@media screen and (min-width: 791px) {
  .h-section::before {
    content: " ";
    position: absolute;
    height: 950px;
    z-index: -1;
    background-image: url("../img/bg-hero.svg");
    width: 100%;
    background-size: cover;
    background-position: top right;
  }
}
@media screen and (min-width: 650px) {
  .h-section__text {
    width: 500px;
    margin-left: 10%;
  }
}
.h-section__img {
  background-image: url("../img/bg-hero.png");
  width: 100%;
  height: 520px;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}
@media screen and (min-width: 791px) {
  .h-section__img {
    background-image: none;
    width: 0;
    height: 0;
  }
}

.f-section {
  background-color: #221d23;
  color: #aeacaf;
}
.f-section a {
  color: #aeacaf;
}
.f-section .container {
  height: 100%;
}
.f-section__items {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 791px) {
  .f-section__items {
    justify-content: flex-start;
  }
}
.f-section__item {
  padding-right: 2em;
}
.f-section__copyright {
  align-self: center;
  justify-self: center;
}
@media screen and (min-width: 791px) {
  .f-section__copyright {
    justify-self: end;
  }
}

.m-features {
  padding: 8em 15% 0 15%;
}
.m-features__title {
  text-align: center;
}
.m-features__image {
  align-self: center;
}
.m-features__text {
  align-self: center;
}

.prices {
  position: relative;
  background-color: transparent;
  padding-top: 5em;
}
.prices__title {
  color: #fff;
  margin-top: 1em;
}
.prices .row {
  padding: 4em 15%;
}
.prices::before {
  content: " ";
  position: absolute;
  top: -161px;
  height: 1390px;
  z-index: -1;
  background-image: url("../img/bg-price.svg");
  width: 100%;
  background-size: cover;
}
@media screen and (min-width: 791px) {
  .prices::before {
    height: 1022px;
  }
}
.prices__title {
  text-align: center;
}

/*
 * 
 * Esta carpeta fue creada para componentes o módulos pequeños como por ejemplo: 
 * sliders, loaders, widgets, etc. A diferencia de la carpeta layout/ donde almacenaremos
 * los componentes que definan el wireframe del sitio/aplicación, aquí encontraremos
 * componentes que aportarán más contenido que una estructura visual.
 * 
 * Usualmente deberían haber muchos archivos en components/ debido a que los 
 * sitios/aplicaciones se empezaron a crear en base a pequeños módulos de código.
 * 
 * Nota:
 * Esta carpeta también se podría llamar modules/, dependiendo de cómo tu la prefieras.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
.primary-button {
  background-color: #2ab7ca;
  padding: 0.5em;
  color: #fff;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.primary-button:hover {
  background-color: #77d1dd;
}
.primary-button:focus {
  background-color: #c7cbcc;
}
.primary-button--large {
  width: 100%;
  border: none;
  outline: none;
  margin-top: 1em;
  padding: 1em 0;
  cursor: pointer;
}

.login-button {
  color: #221d23;
}

.card {
  justify-self: center;
  padding: 1em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.card:hover {
  box-shadow: 3px 3px 8px black;
}
.card__price {
  padding-bottom: 1em;
}
.card__features {
  padding: 1em 0;
  flex-grow: 2;
  flex-basis: 160px;
  border-bottom: solid 1px #8f9199;
  border-top: solid 1px #8f9199;
  padding-left: 1.5em;
  list-style-type: disc;
}
.card__features li {
  margin: 0.5em 0;
}
.card__button {
  flex-grow: 1;
  flex-basis: 30px;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
