.container {
  width: 80%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 109px 1fr 1fr 1fr 109px;

  @media screen and (min-width: 974px) {
    grid-template-rows: 109px 2fr 1fr 1fr 109px;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 70px;
  margin-top: 3em;
}

.f-section__container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-template-rows: 1fr;
}