.container {
  width: 80%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 109px 1fr 1fr 1fr 1fr;

  @media screen and (min-width: 850px) {
    grid-template-rows: 109px 2fr 1fr 1fr 1fr;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
}
