.h-section {
  margin: 3em 0;
  position: relative;
  background-color: transparent;
  z-index: -1;

  &::before {
    @media screen and (min-width: 791px) {
      content: " ";
      position: absolute;
      height: 950px;
      z-index: -1;
      background-image: url("../img/bg-hero.svg");
      width: 100%;
      background-size: cover;
      background-position: top right;
    }
  }

  &__text {
    @media screen and (min-width: 650px) {
      width: 500px;
      margin-left: 10%;
    }
  }

  &__img {
    background-image: url("../img/bg-hero.png");
    width: 100%;
    height: 520px;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;

    @media screen and (min-width: 791px) {
      background-image: none;
      width: 0;
      height: 0;
    }
  }
}
