.navigation {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;

    &__items {
        display: flex;
        align-items: center;
    }

    &__item {
        padding-right: 1em;
    }

    &__buttons {
        display: flex;
        align-items: center;

        a {
            margin-left: 1em;
        }
    }
}
