.prices {
  position: relative;
  background-color: transparent;

  &__title {
      color: $white;
      margin-top: 1em;
  }

  .row {
      padding: 4em 15%;
  }

  &::before {
    content: " ";
    position: absolute;
    top: -161px;
    height: 1320px;
    z-index: -1;
    background-image: url("../img/bg-price.svg");
    width: 100%;
    background-size: cover;

    @media screen and (min-width: 791px) {
        height: 945px;
    }
  }
  
  &__title {
    text-align: center;
  }

}
